miRNA/miRDB_v6.0_prediction_result.txt
lncRNA_prediction/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz
lncRNA_prediction/non_overlapping_coords.txt
Bayes_example.pdf
.gitignore
bayesian_update_chrX.pdf
bayesian_update.pdf
Ftx_TPM_cardiac.pdf
prior_distributions_chrX.pdf
prior_distributions.pdf
Xist_TPM_cardiac.pdf
Xist_TPM_Deutsch.pdf
Xist_TPM.pdf
Xist_TPM_cardiac.pdf
Xist_TPM.pdf
Xist_TPM_cardiac.pdf
lncRNA_prediction/all_sequences_no_duplicates.fa
lncRNA_prediction/bedtools.txt
Pytorch/data/FashionMNIST/raw/t10k-images-idx3-ubyte
Pytorch/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Pytorch/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Pytorch/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Pytorch/data/FashionMNIST/raw/train-images-idx3-ubyte
Pytorch/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
Pytorch/data/FashionMNIST/raw/train-labels-idx1-ubyte
Pytorch/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
lncRNA_prediction/all_sequences.fa
lncRNA_prediction/CNN_test.py
lncRNA_prediction/create_class_list.py
lncRNA_prediction/duplicated_genes.txt
lncRNA_prediction/gene_class.txt
lncRNA_prediction/Homo_sapiens.GRCh38.dna.primary_assembly.fa
lncRNA_prediction/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai
lncRNA_prediction/lncRNA_5kb_flank.bed
lncRNA_prediction/lncRNA_enhancing_repressive.txt
lncRNA_prediction/modified_coords.txt
